streamlit==1.37.1
pypdf==4.3.1
python-docx==1.1.2
pandas==2.2.2
requests==2.32.3
rapidfuzz==3.9.6
# Embeddings (toggle dans l'app)
sentence-transformers==3.0.1
transformers==4.42.3
safetensors==0.4.3
torch==2.3.1
numpy==1.26.4
