streamlit==1.37.1
pypdf==4.3.1
python-docx==1.1.2
pandas==2.2.2
requests==2.32.3
# Embeddings (activer via le toggle)
sentence-transformers==3.0.1
transformers==4.42.3
safetensors==0.4.3
torch==2.3.1
numpy==1.26.4
